#!/bin/bash -eux

trap 'sudo /sbin/poweroff' ERR EXIT

curl -fsSL https://pkgs.tailscale.com/stable/debian/bookworm.noarmor.gpg | sudo tee /usr/share/keyrings/tailscale-archive-keyring.gpg >/dev/null
curl -fsSL https://pkgs.tailscale.com/stable/debian/bookworm.tailscale-keyring.list | sudo tee /etc/apt/sources.list.d/tailscale.list

sudo apt-get update
sudo apt-get install -y --no-install-recommends tailscale jq

echo 'net.ipv4.ip_forward = 1' | sudo tee -a /etc/sysctl.d/99-tailscale.conf
echo 'net.ipv6.conf.all.forwarding = 1' | sudo tee -a /etc/sysctl.d/99-tailscale.conf
sudo sysctl -p /etc/sysctl.d/99-tailscale.conf

sudo sed -i 's/FLAGS=""/FLAGS="--state=mem:"/' /etc/default/tailscaled
sudo systemctl restart tailscaled.service

timeout 5m sudo tailscale up --accept-routes --advertise-exit-node {{.Args}}

set +x
# If instance is removed from Tailscale, shut it down
while [[ $(tailscale status --json | jq .Self.Online) == "true" ]]; do sleep 1; done
