<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/bootstrap-5.3.1/bootstrap.min.css">
    <script src="/assets/bootstrap-5.3.1/bootstrap.bundle.min.js"></script>
  </head>
  <body>
  <nav class="navbar bg-light border-bottom mb-5">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div style="clear: left;">
        <p style="float: left; padding-right: 1em;"><img src = "assets/logo.svg" alt="TSCloudVPN logo" width="60px"/></p>
        <p style="width: 50ex; margin-top: 0.25em; font-size: 30px"><a href="/">TSCloudVPN</a><br>
      </div>
    </div>
  </div>
</nav>

<div class="container px-5">
