<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/bootstrap-3.3.7.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/disable-element.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
  </head>
  <body hx-ext="sse" sse-connect="/events">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div style="clear: left;">
        <p style="float: left; padding-right: 1em;"><img src = "/assets/logo.svg" alt="TSCloudVPN logo" width="60px"/></p>
        <p style="width: 50ex; margin-top: 0.25em; font-size: 30px"><a href="/">TSCloudVPN</a><br>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/stats/">Statistics</a></li>
      </ul>
      <table class="navbar-text navbar-right" style="border-spacing: 10px 0; border-collapse: separate">
        <tr>
          <th>Cloud Providers</th>
          <td sse-swap="provider-count"></td>
        </tr>
        <tr>
          <th>Regions</th>
          <td sse-swap="region-count"></td>
        </tr>
        <tr>
          <th>Active Nodes</th>
          <td sse-swap="active-nodes"></td>
        </tr>
      </table>
    </div>
  </div>

</nav>

<div class="container">
