{{ template "header.tmpl" . }}

<div class="row">
  <div class="col-md-12">
    <h1>Regions</h1>
    <div>
      <input class="form-control" id="filterInput" type="text" placeholder="Filter">
      <script>
      $(document).ready(function(){
        $("#filterInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#regionsTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
    </div>
    <table class="table">
      <tbody id="regionsTable">
        {{ range .Detail }}
        <tr>
          <td>{{.Provider}}</td>
          <td>{{.Region}}</td>
          <td>{{.LongName}}</td>
          <td>
            {{if .HasNode}}
            <span class="label {{if .RecentPingSuccess}}label-success{{else}}label-warning{{end}}" title="{{.CreatedTS}}" style="margin-right: 0.25em">
              running for {{.SinceCreated}}
            </span>
            {{end}}
          </td>
          <td>
            <form action="/providers/{{.Provider}}/regions/{{.Region}}" method="post">
            {{if .HasNode}}
              <button class="btn btn-danger" name="action" value="delete" type="submit">Delete</button>
            {{else}}
              <button class="btn btn-primary" name="action" value="create" type="submit">Create</button>
            {{end}}
            </form>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ template "footer.tmpl" . }}
