{{ template "header.tmpl" . }}

<div class="row">
  <div class="col-md-12">
    <h1>Running Nodes</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Provider</th>
          <th>Region</th>
          <th>Uptime</th>
          <th>Price</th>
          <th>Connection</th>
          <th>Success Rate</th>
          <th>Latency</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody sse-swap="running-nodes-table">
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Regions</h1>
    <div>
      <input class="form-control" id="filterInput" type="text" placeholder="Filter">
      <script>
      $(document).ready(function(){
        $("#filterInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#regionsTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Provider</th>
          <th>Region</th>
          <th>Location</th>
          <th>Price</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="regionsTable">
        {{ range .Detail }}
        <tr>
          <td>{{.Provider}}</td>
          <td>{{.Region}}</td>
          <td>{{.LongName}}</td>
          <td>
            ${{ printf "%.4f" .PricePerHour }}/hr
          </td>
          <td sse-swap="{{.Provider}}-{{.Region}}-hasnode"></td>
          <td sse-swap="{{.Provider}}-{{.Region}}-button"></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ template "footer.tmpl" . }}
