{{ template "header.tmpl" . }}

<div class="row">
  <div class="col-md-12">
    <h1>Providers</h1>
    <table class="table">
      <tbody>
        {{ range .Detail }}
        <tr>
          <td><a href="/providers/{{.}}">{{.}}</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ template "footer.tmpl" . }}
