name: Go

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - run: go build ./cmd/tscloudvpn
      - run: go test -race -v ./...
      - run: go mod tidy -diff
      - run: go tool golangci-lint run